{% extends "common/base.html" %}

{% block title %}Welcome Diggers!{% endblock %}

{% block main %}

<!-- Main row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Welcome to SocialDigger</h1>
    <p>Mine through your social media data.</p>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-check"></i>What is SocialDigger?</h4>
      </div>
      <div class="panel-body">
        <p>SocialDigger is a customer relationship management(CRM) tool used to analyze untapped information from your followers on social media platforms. Click the button below to learn more about our methods.</p>
        <a href="#" class="btn btn-default">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-gift"></i>Why use SocialDigger?</h4>
      </div>
      <div class="panel-body">
        <p>According to Forbes (2015), just 0.5% of available big data is analyzed, and merely 3% is tagged. Learning more about your customers; What their opinions are, and how they shift over time, might provide a competitive advantage for your company! </p>
        <a href="#" class="btn btn-default">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-compass"></i>Who are we?</h4>
      </div>
      <div class="panel-body">
        <p>Get to know the members of the team by logging in and and clicking the About Us page. </p>
        <a href="#" class="btn btn-default">Learn More</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
