
/* ******************** */
/* Bootstrap overrides */
/* ******************** */

body{
  background-color: #FFF !important;
}

.navbar-static-top{
  background-color: #FF6A00 !important;
}
.navbar-inverse{
  background-color: #FF6A00 !important;
}
.navbar-header{
  background-color: #FF6A00 !important;
}
.navcontainer{
  background-color: #FF6A00 !important;
}
.navbar-nav{
  background-color: #FF6A00 !important;
}
.navbar-inverse .navbar-nav>li>a {
  color: #140082 !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #fcf8e3 !important;
}
.navbar-brand {
  color: #140082 !important;
}

a.navbar-brand:hover {
  color: #fcf8e3 !important;
}

.page-header {
  margin: 20px 0 20px !important;
}
